{% extends 'formWrapper.html.twig' %}

{% block form %}
    <h2 class="mb-5">Enregistrement effectué !</h2>
    <a href="{{ path('home') }}" class="btn btn-primary">Retourner à la page d'accueil</a>
{% endblock %}